# Table of Contents

## 01. Importing Libraries & Data

## 02. Data Cleaning & Consistency Checks

## 03. Export the Created Dataframe

# 01.  Importing Libraries

In [1]:
#### Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#### Define the path
path = r'C:\Users\cemel\OneDrive\Documents\CareerFoundry Documents\Data Immersion\Achievement 6 Files\WHR 2023 Data For Table 2.1.xlsx'

In [3]:
#### Read The World Happiness Report 2023 Table 2.1 Excel file into a DataFrame
df_whrtab = pd.read_excel(path)

In [4]:
df_whrtab

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Australia,2005,7.340688,10.662058,0.967892,69.800003,0.934973,NaN,0.390416,0.769770,0.238012
1,Belgium,2005,7.262290,10.743808,0.934875,68.400002,0.923843,NaN,0.597554,0.676886,0.260380
2,Brazil,2005,6.636771,9.435151,0.882923,63.099998,0.882186,NaN,0.744994,0.769921,0.301780
3,Canada,2005,7.418048,10.707299,0.961552,70.500000,0.957306,0.248033,0.502681,0.783299,0.233278
4,Czechia,2005,6.439257,10.321686,0.918759,67.099998,0.865235,NaN,0.900733,0.638764,0.257949
...,...,...,...,...,...,...,...,...,...,...,...
2194,Uruguay,2022,6.670853,10.084121,0.904825,67.500000,0.877969,-0.051668,0.631337,0.774694,0.267485
2195,Uzbekistan,2022,6.016239,8.989866,0.878923,65.599998,0.959019,0.308951,0.615844,0.741082,0.224580
2196,Venezuela,2022,5.948992,NaN,0.899366,63.875000,0.770417,NaN,0.798016,0.754337,0.292252
2197,Vietnam,2022,6.266509,9.332854,0.878744,65.599998,0.975405,-0.178987,0.703423,0.774236,0.108473
2198,Zimbabwe,2022,3.296220,7.670123,0.666172,54.525002,0.651987,-0.069513,0.752632,0.640609,0.191350

# 02. Data Cleaning & Consistency Checks

In [5]:
#### Change the column name from 'year' to 'Year' for consistency using the rename() method
df_whrtab = df_whrtab.rename(columns={'year': 'Year'})

In [6]:
#### Confirm column name change
df_whrtab.columns

Index(['Country name', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [7]:
#### Check for duplicates in dataset
df_dups = df_whrtab[df_whrtab.duplicated()]

In [8]:
df_dups

Empty DataFrame
Columns: [Country name, Year, Life Ladder, Log GDP per capita, Social support, Healthy life expectancy at birth, Freedom to make life choices, Generosity, Perceptions of corruption, Positive affect, Negative affect]
Index: []

### Comments: No duplicate records found in dataset

In [9]:
df_whrtab.describe()

,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,2199.000000,2199.000000,2179.000000,2186.000000,2145.000000,2166.000000,2126.000000,2083.000000,2175.000000,2183.000000
mean,2014.161437,5.479226,9.389766,0.810679,63.294583,0.747858,0.000096,0.745195,0.652143,0.271501
std,4.718736,1.125529,1.153387,0.120952,6.901104,0.140150,0.161083,0.185837,0.105922,0.086875
min,2005.000000,1.281271,5.526723,0.228217,6.720000,0.257534,-0.337527,0.035198,0.178886,0.082737
25%,2010.000000,4.646750,8.499764,0.746609,59.119999,0.656528,-0.112116,0.688139,0.571684,0.207660
50%,2014.000000,5.432437,9.498955,0.835535,65.050003,0.769821,-0.022671,0.799654,0.663063,0.260671
75%,2018.000000,6.309460,10.373216,0.904792,68.500000,0.859382,0.092070,0.868827,0.737936,0.322894
max,2022.000000,8.018934,11.663788,0.987343,74.474998,0.985178,0.702708,0.983276,0.883586,0.704590

In [10]:
#### Check for mixed types
for col in df_whrtab.columns.tolist():
    weird = df_whrtab[col].apply(type).ne(type(df_whrtab[col].iloc[0])).any()
    if weird:
        print(col)

Year
Life Ladder
Log GDP per capita
Social support
Healthy life expectancy at birth
Freedom to make life choices
Generosity
Perceptions of corruption
Positive affect
Negative affect

### Comments: I will try to indirectly solve this problem by addressing other data inconsistencies. If the problem persists, I will directly convert data types for each of the columns listed.

In [11]:
#### Check for missing values/observations
df_whrtab.isnull().sum()

Country name                          0
Year                                  0
Life Ladder                           0
Log GDP per capita                   20
Social support                       13
Healthy life expectancy at birth     54
Freedom to make life choices         33
Generosity                           73
Perceptions of corruption           116
Positive affect                      24
Negative affect                      16
dtype: int64

### Comments: I am considering replacing the missing values in each column with the mean value of each column. However to check if replacing missing values with the mean constitutes less than 5% of the data, I will calculate the percentage of missing values in each column and then compare it to 5%

In [12]:
#### Calculate the total number of entries in the DataFrame
total_entries = df_whrtab.shape[0] * df_whrtab.shape[1]

In [13]:
#### Calculate the total number of missing values
total_missing_values = df_whrtab.isnull().sum().sum()

In [14]:
#### Calculate the percentage of missing values
percentage_missing_values = (total_missing_values / total_entries) * 100

In [15]:
#### Print the percentage of missing values
print("Percentage of missing values:", percentage_missing_values)

Percentage of missing values: 1.4428045805944851

### Comments: Based on 'Percentage of missing values', I will replace the missing values of each column with the mean of each column.

### Replace the missing values in each column with the mean of that column using the 'fillna' method.

In [16]:
#### List of columns with missing values
columns_with_missing_values = ['Log GDP per capita', 'Social support', 'Healthy life expectancy at birth',
                                'Freedom to make life choices', 'Generosity', 'Perceptions of corruption',
                                'Positive affect', 'Negative affect']

In [17]:
#### Replace missing values with the mean of each column
for column in columns_with_missing_values:
    mean_value = df_whrtab[column].mean()
    df_whrtab[column].fillna(mean_value, inplace=True)

In [18]:
#### Verify that missing values have been replaced
missing_values_after_replace = df_whrtab.isnull().sum()
print("Missing values after replacement:")
print(missing_values_after_replace)

Missing values after replacement:
Country name                        0
Year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

### Missing values replacement complete!

In [19]:
#### Recheck for mixed types
for col in df_whrtab.columns.tolist():
    weird = df_whrtab[col].apply(type).ne(type(df_whrtab[col].iloc[0])).any()
    if weird:
        print(col)

Year
Life Ladder
Log GDP per capita
Social support
Healthy life expectancy at birth
Freedom to make life choices
Generosity
Perceptions of corruption
Positive affect
Negative affect

In [20]:
#### Check column data types
df_whrtab.dtypes

Country name                         object
Year                                  int64
Life Ladder                         float64
Log GDP per capita                  float64
Social support                      float64
Healthy life expectancy at birth    float64
Freedom to make life choices        float64
Generosity                          float64
Perceptions of corruption           float64
Positive affect                     float64
Negative affect                     float64
dtype: object

### Comments: Because the appearance of mixed type data might be due to the presence of NaN (Not a Number) values in these columns, I will try to replace any NaNs with zeroes before rechecking for mixed data types.

In [21]:
#### Fill NaN values with 0 in numeric columns
df_whrtab.fillna(0, inplace=True)

In [22]:
#### Re-check for mixed types
for col in df_whrtab.columns:
    weird = df_whrtab[col].apply(type).ne(type(df_whrtab[col].iloc[0])).any()
    if weird:
        print(col)

Year
Life Ladder
Log GDP per capita
Social support
Healthy life expectancy at birth
Freedom to make life choices
Generosity
Perceptions of corruption
Positive affect
Negative affect

In [23]:
#### Convert Year column to string data type
df_whrtab['Year'] = df_whrtab['Year'].astype(str)

In [24]:
#### Re-check for mixed types
for col in df_whrtab.columns:
    weird = df_whrtab[col].apply(type).ne(type(df_whrtab[col].iloc[0])).any()
    if weird:
        print(col)

Life Ladder
Log GDP per capita
Social support
Healthy life expectancy at birth
Freedom to make life choices
Generosity
Perceptions of corruption
Positive affect
Negative affect

### Comments: In order to try and detect the causes of this repeated appearance of the columns above when code is run for mixed types, I am going to check for unique values and perform a count of those values.

In [25]:
#### Identify the problem columns of interest
columns_of_interest = ['Life Ladder', 'Log GDP per capita', 'Social support', 
                       'Healthy life expectancy at birth', 'Freedom to make life choices', 
                       'Generosity', 'Perceptions of corruption', 'Positive affect', 
                       'Negative affect']

In [26]:
#### Check unique values and counts of unique values for all the problem columns
for col in columns_of_interest:
    print(f"Column: {col}")
    print(f"Unique Values: {df_whrtab[col].unique()}")
    print(f"Value Counts:\n{df_whrtab[col].value_counts()}\n")

Column: Life Ladder
Unique Values: [7.34068823 7.26229048 6.6367712  ... 5.94899225 6.26650858 3.29621959]
Value Counts:
Life Ladder
7.340688    1
6.065039    1
5.148242    1
6.325119    1
4.873723    1
           ..
4.773145    1
6.018895    1
3.193469    1
6.935122    1
3.296220    1
Name: count, Length: 2199, dtype: int64

Column: Log GDP per capita
Unique Values: [10.66205788 10.74380779  9.4351511  ...  8.98986626  9.33285427
  7.67012262]
Value Counts:
Log GDP per capita
9.389766     20
10.662058     1
9.580395      1
7.563740      1
9.517068      1
             ..
7.894076      1
10.783341     1
9.831532      1
8.231358      1
7.670123      1
Name: count, Length: 2180, dtype: int64

Column: Social support
Unique Values: [0.96789217 0.93487471 0.88292295 ... 0.89936632 0.87874401 0.66617191]
Value Counts:
Social support
0.810679    13
0.967892     1
0.795589     1
0.646985     1
0.843355     1
            ..
0.743766     1
0.837967     1
0.890314     1
0.836743     1
0.666172     1
Name: count, Length: 2187, dtype: int64

Column: Healthy life expectancy at birth
Unique Values: [69.80000305 68.40000153 63.09999847 ... 73.92500305 72.47499847
 59.84999847]
Value Counts:
Healthy life expectancy at birth
63.294583    54
66.599998    16
70.000000    16
65.800003    16
67.000000    12
             ..
52.419998     1
53.840000     1
52.660000     1
63.880001     1
59.849998     1
Name: count, Length: 1108, dtype: int64

Column: Freedom to make life choices
Unique Values: [0.9349733  0.92384303 0.88218611 ... 0.77041674 0.97540516 0.65198714]
Value Counts:
Freedom to make life choices
0.747858    33
0.683558     2
0.934973     1
0.865026     1
0.898377     1
            ..
0.848606     1
0.799410     1
0.419789     1
0.862380     1
0.651987     1
Name: count, Length: 2166, dtype: int64

Column: Generosity
Unique Values: [ 9.64520104e-05  2.48032972e-01 -1.59916088e-01 ...  3.08950752e-01
 -1.78986996e-01 -6.95132837e-02]
Value Counts:
Generosity
 0.000096    73
 0.484792     1
 0.140637     1
-0.007804     1
 0.114815     1
             ..
 0.093665     1
-0.247485     1
 0.039021     1
-0.033436     1
-0.069513     1
Name: count, Length: 2127, dtype: int64

Column: Perceptions of corruption
Unique Values: [0.39041594 0.59755445 0.74499404 ... 0.79801643 0.7034229  0.75263208]
Value Counts:
Perceptions of corruption
0.745195    116
0.390416      1
0.900416      1
0.647192      1
0.783429      1
           ...
0.763155      1
0.770586      1
0.368252      1
0.892544      1
0.752632      1
Name: count, Length: 2084, dtype: int64

Column: Positive affect
Unique Values: [0.76977032 0.67688566 0.76992124 ... 0.75433695 0.77423638 0.64060926]
Value Counts:
Positive affect
0.652143    24
0.578831     1
0.701789     1
0.570107     1
0.796158     1
            ..
0.486567     1
0.509555     1
0.685311     1
0.694941     1
0.640609     1
Name: count, Length: 2176, dtype: int64

Column: Negative affect
Unique Values: [0.23801209 0.26037994 0.30177984 ... 0.292252   0.10847342 0.1913503 ]
Value Counts:
Negative affect
0.271501    16
0.238012     1
0.180921     1
0.308086     1
0.422461     1
            ..
0.349759     1
0.171257     1
0.338241     1
0.408880     1
0.191350     1
Name: count, Length: 2184, dtype: int64

### Comments: I will try to identify outlier next as additional step for evaluating the possibility of addressing the issue of mixed data types.

### Check for outliers in the data using the interquartile range (IQR) method

In [27]:
#### Exclude non-numeric columns (Specifically 'Country name' [dtype: object] and 'Year' [dtype: 'str' by conversion])
numeric_columns = df_whrtab.select_dtypes(include=['number']).columns

In [28]:
#### Calculate the IQR for numeric columns
Q1 = df_whrtab[numeric_columns].quantile(0.25)
Q3 = df_whrtab[numeric_columns].quantile(0.75)
IQR = Q3 - Q1

In [29]:
#### Define the threshold for outliers
threshold = 1.5

In [30]:
#### Identify outliers for numeric columns only
outliers = {}
for col in numeric_columns:
    outliers[col] = (df_whrtab[col] < (Q1[col] - threshold * IQR[col])) | (df_whrtab[col] > (Q3[col] + threshold * IQR[col]))

In [31]:
outliers

{'Life Ladder': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Life Ladder, Length: 2199, dtype: bool,
 'Log GDP per capita': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Log GDP per capita, Length: 2199, dtype: bool,
 'Social support': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Social support, Length: 2199, dtype: bool,
 'Healthy life expectancy at birth': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Healthy life expectancy at birth, Length: 2199, dtype: bool,
 'Freedom to make life choices': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Freedom to make life choices, Length: 2199, dtype: bool,
 'Generosity': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Generosity, Length: 2199, dtype: bool,
 'Perceptions of corruption': 0        True
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Perceptions of corruption, Length: 2199, dtype: bool,
 'Positive affect': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Positive affect, Length: 2199, dtype: bool,
 'Negative affect': 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 2194    False
 2195    False
 2196    False
 2197    False
 2198    False
 Name: Negative affect, Length: 2199, dtype: bool}

In [32]:
#### To investigate the outliers that appear to be indicated by 'True' values under the 'Perceptions of corruption' column, I will filter the DataFrame to only include rows where the values in this column are considered outliers.
outliers2 = df_whrtab[df_whrtab['Perceptions of corruption'] == True]

In [33]:
outliers2

Empty DataFrame
Columns: [Country name, Year, Life Ladder, Log GDP per capita, Social support, Healthy life expectancy at birth, Freedom to make life choices, Generosity, Perceptions of corruption, Positive affect, Negative affect]
Index: []

### Comments: This indicates that there are no rows that need to be flagged as outliers and thus, no columns (including 'Perceptions of corruption') containing values that meet criteria for being identified as outliers. At this point, the columns, 'Life Ladder', 'Log GDP per capita', 'Social support', 'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Positive affect', 'Negative affect', will be left with their current dtypes (viz. 'float64'). Seeking to change them to either integer or string type in order to address the problem of the columns appearing as containing mixed data types is inadvisable due to the potential for loss of precision and other problems that may arise from that conversion.

# 03. Export the Created Dataframe

In [34]:
#### Define the directory path
directory = r'C:\Users\cemel\OneDrive\Documents\CareerFoundry Documents\Data Immersion\Achievement 6 Files\My Python Scripts'

In [35]:
#### Define the filename
filename = 'WHR 2023 Data Table for 2.1 (Python Cleaned).xlsx'

In [36]:
#### Create the full file path
file_path = os.path.join(directory, filename)

In [37]:
#### Export DataFrame to Excel
df_whrtab.to_excel(file_path, index=False)

In [38]:
print(f"DataFrame exported to: {file_path}")

DataFrame exported to: C:\Users\cemel\OneDrive\Documents\CareerFoundry Documents\Data Immersion\Achievement 6 Files\My Python Scripts\WHR 2023 Data Table for 2.1 (Python Cleaned).xlsx